# Dataset
HAM10000_images_part_1/
HAM10000_images_part_2/
data/raw/

# Large processed images (optional)
data/processed/

# Models
models/

# Python
__pycache__/
*.pyc

# Temp
temp/

# OS
.DS_Store
Thumbs.db